<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Artifacts</title>
    <nav class="links" style="--items: 6;">
        <a href="homepage.twig"><img src="../images/darkhacknet.png" height="70" width="140"/></a>
        <a href="questpage.twig">quests</a>
        <a href="artifactpage.twig">artifacts</a>
        <a href="storepage.twig">store</a>
        <a href="raidpage.twig">raids</a>
        <a href="studentpage.twig">profile</a>
        <span class="line"></span>
    </nav>
</head>
<body>
<div id="container">
    <div id="siteTitle">
        <h1 class="titleElement">USER ARTIFACTS</h1>
        <p class="titleElement">All of Your artifacts</p>
    </div>
    <div>
        <ul class="elementsList">
            {% if (entryList != null) %}
                {% for entry in entryList %}
                                <li class="element">
                                    <p> Name:           {{ entry.name }}        </p>
                                    <p> Value:          {{ entry.value }}       </p>
                                    <p> Description:    {{ entry.description }} </p>
                                </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>
</body>
</html>