<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HackNet Home</title>
    <link rel="stylesheet" href="../../static/css/mainstyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap" rel="stylesheet">
    <nav class="links" style="--items: 5;">
        <a href="homepage.html">home</a>
        <a href="artifactpage.html">artifacts</a>
        <a href="storepage.html">store</a>
        <a href="raidspage.html">raids</a>
        <a href="userprofilepage.html">profile</a>
        <span class="line"></span>
    </nav>
</head>
<body>
<div id="container">
    <h2>HOMEPAGE</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed neque iaculis, posuere magna eget, finibus erat. Etiam ac mattis quam. Integer lacinia efficitur pulvinar. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consectetur risus et nisi tempor suscipit. Nullam suscipit erat in purus placerat, vel mollis quam lacinia. Sed tincidunt leo quam, a tempus neque sagittis in. Maecenas sit amet est at diam vehicula semper sed non ex. Praesent sollicitudin scelerisque justo, in laoreet purus varius at. Curabitur ac magna at metus placerat porttitor. Integer sit amet interdum felis, eu efficitur erat.

        Vivamus sed molestie nunc. Nullam eget arcu luctus felis commodo congue tempus et mi. Phasellus at sodales nisi. Sed quis neque et lacus commodo varius id non purus. Aenean consectetur et mi ac varius. Praesent malesuada feugiat posuere. Ut commodo quam at purus efficitur tempus. Nam viverra sed urna in lobortis. Curabitur fringilla consectetur orci. Etiam dictum, lectus non elementum sollicitudin, lectus nisl viverra ex, id finibus ligula nisi quis neque. Phasellus sagittis odio quis tincidunt feugiat. Pellentesque sollicitudin feugiat tortor, ac iaculis sem euismod ut.

        Sed eu erat dictum, sodales orci eget, bibendum tortor. Cras tincidunt ex in ullamcorper viverra. Duis erat sem, volutpat ut tincidunt in, tempor vitae nibh. Phasellus massa risus, lacinia non justo eget, vestibulum porta purus. Donec in nisi pharetra, iaculis felis non, iaculis lectus. Nunc placerat bibendum nisl sed consectetur. Nulla facilisi. Maecenas lorem metus, molestie et ullamcorper a, dictum dictum libero. Morbi placerat tellus nec arcu accumsan congue. Mauris nulla eros, gravida a vehicula sed, semper et arcu. Vivamus vel est est. Pellentesque efficitur ipsum nec quam vehicula, pellentesque condimentum purus tincidunt. Aliquam sagittis ornare metus eget cursus. Nulla nec tincidunt nunc.

        Proin consequat tempus justo interdum ultricies. Duis posuere, magna non egestas interdum, arcu odio congue enim, sit amet ornare ex tellus vel massa. Duis sed est urna. Pellentesque ligula libero, vehicula in leo ultricies, consectetur dapibus purus. Maecenas pellentesque nisi erat, quis lacinia odio dapibus et. Integer malesuada ante orci, at congue metus faucibus ac. Proin rutrum eget dolor eget blandit. Pellentesque varius aliquam turpis, at mattis erat. Curabitur non ligula in neque convallis ultricies vitae eget odio. Curabitur et enim metus.

        Phasellus a sollicitudin ex, finibus fermentum dui. Curabitur nec aliquet sem. Suspendisse at gravida erat, vehicula volutpat sem. Phasellus varius nisl in dui bibendum, sed lacinia libero tincidunt. Sed varius suscipit nisi vitae facilisis. Suspendisse eu ipsum quis eros volutpat ultrices. Pellentesque ac malesuada lectus. Aenean ullamcorper interdum consequat. Duis non convallis quam. Donec commodo tellus eget convallis faucibus. Sed vel tempor massa.</p>
</div>

</body>
</html>