<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../images/hacknet.png" >
    <title>Quests</title>
    <nav class="links" style="--items: 6;">
        <a href="homepage.twig"><img src="../images/darkhacknet.png" height="70" width="140"/></a>
        <a href="questpage.twig">quests</a>
        <a href="artifactpage.twig">artifacts</a>
        <a href="storepage.twig">store</a>
        <a href="raidpage.twig">raids</a>
        <a href="studentpage.twig">profile</a>
        <span class="line"></span>
    </nav>
</head>
<body>
<div id="container">
    <div id="siteTitle">
        <h1 class="titleElement">QUESTS</h1>
        <p class="titleElement">Here is the place where you can grab some errand
            in exchange for shiny hackCoins, which, by the way, you can spend in our Artifact Store.
            Get to work and upgrade your first piece of yourself!
        </p>
    </div>
    <div>
        <ul class="elementsList">
            {% if (entryList != null) %}
                {% for entry in entryList %}
                                <li class="element">
                                    <p> Name:           {{ entry.name }}        </p>
                                    <p> Value:          {{ entry.value }}       </p>
                                    <p> Description:    {{ entry.description }} </p>
                                </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>
</body>
</html>