<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Raid</title>
</head>

<body>
    <div id = "container">
        <div id = "banner">
            <p>### Image belongs to curiosity stream ###</p>
            <img alt="wtf?" src="images/cyberwar.jpeg">
        </div>

        <div id = "team">
            <p> TEAM NAME</p>
            <p> other information about team</p>
            <p> and it's members</p>
        </div>

        <div id = "target">
            <p> QUEST NAME</p>
            <p> other information about quest</p>
            <p> and it's contents</p>
        </div>

        <div id = "contributions">
            <p> Raid progress: </p>
            <p> [******************......................] 48% </p>
            <p></p>
            <p> Main Contributors: </p>
            <p></p>
            <p> Name:                 //                 HackCoin contribution :</p>
            <p> Master Foo            //                       # 3000 #</p>
            <p> Beloved Disciple      //                       # 2000 #</p>
            <p> Dark Dweller          //                       # 1500 #</p>
            <p> Sorceress             //                       # 1000 #</p>
        </div>

    </div>

</body>
</html>