<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../images/hacknet.png" >
    <title>Artifacts shop</title>
    <link rel="stylesheet" type="text/css" href="/QuestStore/src/main/resources/static/css/storePageStyle.css">
    <nav class="links" style="--items: 5;">
        <a href="homepage.html">home</a>
        <a href="artifactpage.html">artifacts</a>
        <a href="storepage.html">store</a>
        <a href="raidspage.html">raids</a>
        <a href="userprofilepage.html">profile</a>
        <span class="line"></span>
    </nav>
</head>
<body>
<div id="siteTitle">
    <h1 class="titleElement">ARTIFACTS SHOP</h1>
    <p class="titleElement">Here is the place where you can change your illegal hackcoins
        for shiny guns and fancy bionic arms. Nice, right?</p>
</div>
<div>
    <ul class="elementsList">
        <div class="buttonMargin"><button class="button"><li class="element"> 1 </li></button></div>
        <div class="buttonMargin"><button class="button"><li class="element"> 2 </li></button></div>
        <div class="buttonMargin"><button class="button"><li class="element"> 3 </li></button></div>
        <div class="buttonMargin"><button class="button"><li class="element"> 4 </li></button></div>
        <div class="buttonMargin"><button class="button"><li class="element"> 5 </li></button></div>
    </ul>
</div>

</body>
</html>
