<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HackNet Home</title>
    <link rel="stylesheet" href="../../static/css/mainstyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap" rel="stylesheet">
    <nav class="links" style="--items: 5;">
        <a href="homepage.html">home</a>
        <a href="artifactpage.html">artifacts</a>
        <a href="storepage.html">store</a>
        <a href="raidpage.html">raids</a>
        <a href="userprofilepage.html">profile</a>
        <span class="line"></span>
    </nav>
</head>
<body>
<div id="container">
    <div id="profile">
        <div>
            <div id="avatar"><img src="../avatar.jpg" alt="Anonymous avatar" width="200" height="200"></div>
            <div id="money"><h1>₿: NaN</h1></div>
            <div><h3>Rank: Net Runner</h3></div>
            <div><h3>Team: Space Bowlers</h3></div>
            <p>><button type="button">LOG 0UT</button></p>
        </div>
        <div id="profile-content">
            <div><h2>Wooca$h</h2></div>
            <div><h3>Level: 9 [====______][40%]</h3></div>
            <div id="description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed neque iaculis, posuere magna eget, finibus erat. Etiam ac mattis quam. Integer lacinia efficitur pulvinar. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consectetur risus et nisi tempor suscipit. Nullam suscipit erat in purus placerat, vel mollis quam lacinia. Sed tincidunt leo quam, a tempus neque sagittis in. Maecenas sit amet est at diam vehicula semper sed non ex. Praesent sollicitudin scelerisque justo, in laoreet purus varius at. Curabitur ac magna at metus placerat porttitor. Integer sit amet interdum felis, eu efficitur erat.</p>
            </div>
            <div><h4>> completed quests: 23</h4></div>
            <div><h4>> obtained artifacts: 6</h4></div>
            <div><h4>> artifacts in possesion: [5/20]</h4></div>
            <div><h4>> money spent: ₿16</h4></div>
        </div>


    </div>
    <div id="transactions">
        <h2>Transaction history:</h2>
        <p>[24.06.2020] [-₿66] Shady stuff</p>
        <p>[25.06.2020] [-₿10] Darkweb subscription</p>
    </div>
</div>
</body>
</html>