body{
    background: linear-gradient(to bottom right, #333333 0%, #151515 100%);
}

#container{
    margin: auto;
    font-family: Inconsolata, serif;
    color: white;
    text-shadow: 0 0 2px #C8C8C8;
    font-size: 1em;
}

.links {
    font-family: Inconsolata monospace;
    font-size: 1.1em;
    color: white;
    text-shadow: 0 0 5px #C8C8C8;
    background-color: black;
    background-image: radial-gradient(
            rgba(0, 150, 0, 0.75), black 150%
    );
    border-bottom: 1px solid #0003;
    box-shadow: 0 0 32px #0003;
    font-size: 2em;
    font-weight: 300;
}
.links > a {
    color: #9ab;
    padding: .75em;
    text-align: center;
    text-decoration: none;
    transition: all .5s;
}
.links > a:hover {
    background: #ffffff06;
    color: #adf;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.links {
    display: grid;
    grid-template-columns: repeat(var(--items), 1fr);
    position: relative;
}


.links::before{
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}
@keyframes flicker {
    0% {
        opacity: 0.27861;
    }
    5% {
        opacity: 0.34769;
    }
    10% {
        opacity: 0.23604;
    }
    15% {
        opacity: 0.90626;
    }
    20% {
        opacity: 0.18128;
    }
    25% {
        opacity: 0.83891;
    }
    30% {
        opacity: 0.65583;
    }
    35% {
        opacity: 0.67807;
    }
    40% {
        opacity: 0.26559;
    }
    45% {
        opacity: 0.84693;
    }
    50% {
        opacity: 0.96019;
    }
    55% {
        opacity: 0.08594;
    }
    60% {
        opacity: 0.20313;
    }
    65% {
        opacity: 0.71988;
    }
    70% {
        opacity: 0.53455;
    }
    75% {
        opacity: 0.37288;
    }
    80% {
        opacity: 0.71428;
    }
    85% {
        opacity: 0.70419;
    }
    90% {
        opacity: 0.7003;
    }
    95% {
        opacity: 0.36108;
    }
    100% {
        opacity: 0.24387;
    }
}
.links:after{
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.15s infinite;
}

#profile::before{
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}

#profile{
    display: inline-flex;
    background-color: black;
    background-image: radial-gradient(
            rgba(24, 24, 24, 0.75), black 130%
    );
    border-radius: 3px;
    /*height: 20em;*/
    margin: 5em;
    margin-bottom: 2em;
    margin-top: 2em;
    overflow: hidden;
    padding: 1em;
    border-top: 1em solid #151515;
    border-left: 0.1em solid #151515;
    border-right: 0.1em solid #151515;
    border-bottom: 0.1em solid #151515;
    color: white;
    /*font: 1.3em Inconsolata, monospace;*/
    font-family: Inconsolata, monospace;
    font-size: 1.3em;
    text-shadow: 0 0 5px #C8C8C8;
}

#profile:after{
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.15s infinite;
}

#avatar{
    margin-top: 1em;
}

#profile-content{
    display: inline-flex;
}

#transactions{
    display: flex;
    flex-direction: column;
    background-color: black;
    background-image: radial-gradient(
            rgba(24, 24, 24, 0.75), black 130%
    );
    border-radius: 3px;
    /*height: 20em;*/
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 5em;
    overflow: hidden;
    padding: 1em;
    border-top: 1em solid #151515;
    border-left: 0.1em solid #151515;
    border-right: 0.1em solid #151515;
    border-bottom: 0.1em solid #151515;
    color: white;
    /*font: 1.3em Inconsolata, monospace;*/
    font-family: Inconsolata, monospace;
    font-size: 1.3em;
    text-shadow: 0 0 5px #C8C8C8;
}

#transactions-info{
    display: inline-flex;
}

#profile-content{
    flex-direction: column;
}

h4, h3, h2{
    margin-bottom: 0;
}

button {
    border: none;
    background: transparent;
    border-bottom: 1px solid #fff;
    outline: none;
    /*font: 1.3em Inconsolata, monospace;*/
    font-family: Inconsolata, monospace;
    font-size: 1.1em;
    color: white;
    text-shadow: 0 0 5px #C8C8C8;
}

button {
    border: 0px solid;
}

button:hover {
    cursor: pointer;
    color: red;
    text-shadow: 0 0 7px red;
}