#banner{
    text-align: center;
    margin: auto;
    width: 50%;

    padding: 10px;
}

#banner img{
    margin: auto;
    width: 50%;
    padding: 10px;
}

#team{
    float:left;
    width:55%;
    text-align: center;
    margin: auto;
    padding: 10px;
}


#target{
    float:left;
    text-align: center;
    margin: auto;
    width: 55%;
    padding: 10px;
}

#contributions{
    float:none;
    text-align: center;
    margin: auto;
    padding: 10px;
}
