<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HackNet Login</title>
    <link rel="stylesheet" type="text/css" href="../static/css/loginstyle.css">
</head>
<body>
<div id="container">
    <div id="window">
        <p>Welcome to HackNet</p>
        <p>>provide Your data:</p>
        <p>>USERNAME:</p>
        <p>><input type="text"></p>
        <p>>PASSWORD:</p>
        <p>><input type="password"></p>
        <p>><a href="student/homepage.html" class="button">submit</a></p>
    </div>
</div>


</body>
</html>